@font-face {
    font-family: rounded_elegance;
    src: url("../font/Rounded_Elegance.ttf");
}

p{
    color: #999999;
}

.half-line{
    margin-top: 1em
}

h1{
    font-size: 2em;
    color: #ffba00;
    text-align: center;
    alignment: top;
    padding: 0px;
    margin: 0px;
}

h2{
    font-size: 1em;
    color: #919191;
    text-align: center;
    alignment: top;
    padding: 0px;
    margin: 0px;
}