#header {
    padding: 0.2em;
    width: 100%;
    background-color: #464646;
    border-bottom-style: solid;
    border-bottom-color: #919191;
    border-bottom-width: 1px;
    transition: background-color 0.5s;
}

#header:hover {
    background-color: #4b4b4b;
}

.input{
    background-color: #252525;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0.2em;
    font-size: 1em;
    color: #919191;
    outline-color: #ffba00;
}